<h2>Estudiantes</h2>

<div class="dashboard">
  <button (click)="mostrarFormulario = true">Crear Estudiante</button>
  <button (click)="mostrarFormularioEdicion = true">Editar Estudiante</button>
  <button>Eliminar Estudiante</button>
  <button>Buscar Estudiante</button>
</div>

<div *ngIf="mostrarFormulario" class="modal">
  <div class="modal-content">
    <span class="close" (click)="mostrarFormulario = false">&times;</span>
    <h3>Nuevo Estudiante</h3>
    <form (ngSubmit)="crearEstudiante()">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nuevoEstudiante.name" name="nombre" required>

      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" [(ngModel)]="nuevoEstudiante.lastname" name="apellido" required>

      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" [(ngModel)]="nuevoEstudiante.birthdate" name="fechaNacimiento" required>

      <div class="modal-buttons">
        <button type="submit">Guardar</button>
        <button type="button" (click)="mostrarFormulario = false">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="mostrarFormularioEdicion" class="modal">
  <div class="modal-content">
    <span class="close" (click)="mostrarFormularioEdicion = false">&times;</span>
    <h3>Editar Estudiante</h3>
    <form (ngSubmit)="actualizarEstudiante()">
      <label for="id">ID:</label>
      <input type="text" id="id" [(ngModel)]="estudianteAEditar.id" name="id" (change)="editarEstudiante(estudianteAEditar.id)" required>

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="estudianteAEditar.name" name="nombre" required>

      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" [(ngModel)]="estudianteAEditar.lastname" name="apellido" required>

      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" [(ngModel)]="estudianteAEditar.birthdate" name="fechaNacimiento" required>

      <div class="modal-buttons">
        <button type="submit">Actualizar</button>
        <button type="button" (click)="mostrarFormularioEdicion = false">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<table *ngIf="students.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de Nacimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.lastname }}</td>
      <td>{{ student.birthdate | date }}</td>
    </tr>
  </tbody>
</table>
<p *ngIf="students.length === 0">No hay estudiantes disponibles.</p>
