<header>
    <nav>
      <ul>
        <li>
          <button (click)="navegar('departments')">Departamentos</button>
        </li>
        <li>
          <button (click)="navegar('professors')">Profesores</button>
        </li>
        <li>
          <button (click)="navegar('students')">Estudiantes</button>
        </li>
        <li>
          <button (click)="navegar('courses')">Cursos</button>
        </li>
        <li>
          <button (click)="navegar('enrollments')">Matrículas</button>
        </li>
        <li>
          <button (click)="navegar('evaluations')">Evaluaciones</button>
        </li>
      </ul>
    </nav>
  </header>
  