<header>
    <nav>
      <div class="nav-links">
        <ng-container [ngSwitch]="getUserRole()">
          <!-- Menú de Administrador -->
          <ng-container *ngSwitchCase="'admin'">
            <a routerLink="/departments">Departamentos</a>
            <a routerLink="/professors">Profesores</a>
            <a routerLink="/students">Estudiantes</a>
            <a routerLink="/courses">Cursos</a>
            <a routerLink="/enrollments">Matrículas</a>
            <a routerLink="/evaluations">Evaluaciones</a>
          </ng-container>

          <!-- Menú de Profesor -->
          <ng-container *ngSwitchCase="'professor'">
            <a routerLink="/students">Estudiantes</a>
            <a routerLink="/courses">Cursos</a>
            <a routerLink="/evaluations">Evaluaciones</a>
          </ng-container>

          <!-- Menú de Estudiante -->
          <ng-container *ngSwitchCase="'student'">
            <a routerLink="/courses">Cursos</a>
            <a routerLink="/enrollments">Matrículas</a>
          </ng-container>
        </ng-container>
      </div>

      <div class="profile-container">
        <div class="profile-icon" (click)="toggleProfileMenu()">
          <i class="fas fa-user-circle"></i>
        </div>
        
        <div class="profile-menu" *ngIf="showProfileMenu">
          <div class="menu-item" (click)="editProfile()">
            <i class="fas fa-user-edit"></i>
            <span>Editar Perfil</span>
          </div>
          <div class="menu-item" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Cerrar Sesión</span>
          </div>
        </div>
      </div>
    </nav>
  </header>
  